<div class="nav-top">
    <div class="w">
        <div class="user-userinfo">
            <span class="user not-login">
                <span class="link js-login">
                    sign in
                </span>
                <span class="link js-register">
                    register
                </span>
            </span>
            <span class="user login">
                <span class="link-text">
                    welcome,<span class="username"></span>
                </span>
                <span class="link js-logout">sign out</span>
            </span>
        </div>
        <ul class="nav-top-list">
            <li class="nav-top-item">
                <a href="#" class="link"><i class="fa fa-shopping-cart"></i> cart(<span class="cart-count">0</span>) </a>
            </li>
            <li class="nav-top-item">
                <a href="#" class="link">my order</a>
            </li>
            <li class="nav-top-item">
                <a href="#" class="link">personal center</a>
            </li>
            <li class="nav-top-item">
                <a href="#" class="link">about MyStore</a>
            </li>
        </ul>
    </div>
</div>